/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    height: 100%;
    background-color: #f1f1f1;
}

body {
    /* Margin bottom by footer height */
    margin: 0;
    padding: 0;
    height: 80vh;
}

.content {
    height: 80vh;
    width: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.grid-container {
    display: grid;
    grid-template-columns: 5vw 50vw 45vw;
    grid-template-rows: 80vh;
}

.grid-1 {
    height: 100%;
    width: 100%;
    background-color: #555;
}

.grid-2 {
    height: 100%;
    width: 100%;
}

.grid-3 {
    height: 100%;
    width: 100%;
}

.column-navigation {
    text-align: center;
    justify-content: center;
}

    .column-navigation a {
        display: block;
        text-align: center;
        padding: 10px;
        color: white;
        font-size: 15px;
    }

        .column-navigation a:hover {
            background-color: black;
        }

.active {
    background-color: #4CAF50;
}

.column-menu {
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

.column-map {
    height: 100%;
    width: 100%;
}

/* image */
#cityname {
    margin: 0;
    padding: 40px;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 28px;
}

#cityimage {
    max-width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
}

#popover-text {
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    #cityname {
        height: 30%;
    }

    #cityimage {

    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 5vh 50vh 45vh;
    }

    .column-navigation {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

        .column-navigation a {
            display: inline;
        }

    #cityname {
        height: 5%;
        padding: 20px;
        text-align: center;
        font-size: 18px;
    }

    #cityimage {
        display: block;
        margin: auto;
        max-height: 40%;
    }
}
